In [1]:
import osmnx as ox
import networkx as nx
import matplotlib.pyplot as plt
import folium
from keplergl import KeplerGl

In [2]:
place_name = "Madurai, Tamilnadu, India."

graph = ox.graph_from_place(place_name)

ox.plot_graph_folium(graph)

In [ ]:
area = ox.geocode_to_gdf(place_name)
area.head()

,geometry,bbox_north,bbox_south,bbox_east,bbox_west,place_id,osm_type,osm_id,lat,lon,display_name,class,type,importance
0,"MULTIPOLYGON (((80.27890 13.05808, 80.28021 13...",13.061714,13.057603,80.282623,80.278902,309272369,relation,14377740,13.059021,80.281383,"Presidency College, Chennai, Bharathi Salai, C...",amenity,college,0.640199